    p{

        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(101, 145, 114);

    }


    body{

        background-color: rgb(206, 247, 194);

    }

    